{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content %}

<section class="container-fluid section-home bgrd-color-dgrey">
    <h3 class="sub-header padding-top-fifty">Anaconda MAA offers classes in a variety of disciplines:</h3>
    <div class="row justify-content-center">

        <div class="col-auto home-image-container padding-top-fifty">
            <a href="about.html#about-bjj" class="home-image">
                <img src="assets/images/home-page-bjj-image.jpg" alt="Brazilian Jiu-Jitsu classes">
                <div class="image-overlay">
                    <img src="assets/images/home-page-bjj-icon.svg" alt="Brazilian Jiu-Jitsu icon">
                    <p>Brazilian Jiu-Jitsu</p>
                </div>
            </a>
            <div class="home-discipline-text">
                <br>
                <p>Brazilian Jiu-Jitsu is a martial art, combat sport system that focuses on grappling and especially
                    ground fighting.</p>
                <a href="about.html#about-bjj" class="color-light-red read-more">Read more…</a>
            </div>
        </div>

        <div class="col-auto home-image-container padding-top-fifty">
            <a href="about.html#about-kickboxing" class="home-image">
                <img src="assets/images/home-page-kickboxing-image.jpg" alt="Kickboxing classes">
                <div class="image-overlay">
                    <img src="assets/images/home-page-kickboxing-icon.svg" alt="Kickboxing icon">
                    <p>Kickboxing</p>
                </div>
            </a>
            <div class="home-discipline-text">
                <br>
                <p>Kickboxing offers a great cardio workout, improved strength, core training, improved balance and
                    stress reduction.</p>
                <a href="about.html#about-kickboxing" class="color-light-red read-more">Read more…</a>
            </div>
        </div>

        <div class="col-auto home-image-container padding-top-fifty">
            <a href="about.html#about-boxing" class="home-image">
                <img src="assets/images/home-page-boxing-image.jpg" alt="Boxing classes">
                <div class="image-overlay">
                    <img src="assets/images/home-page-boxing-icon.svg" alt="Boxing icon">
                    <p>Boxing</p>
                </div>
            </a>
            <div class="home-discipline-text">
                <br>
                <p>Boxing is an intense aerobic and anaerobic workout but also lets you pick up real-world self-defence
                    skills.</p>
                <a href="about.html#about-boxing" class="color-light-red read-more">Read more…</a>
            </div>
        </div>

    </div>
</section>


<h1 class="">Get Active Get Fit Build Confidence</h1>
<h3>Schedule your free class today</h3>
<p class="aaa">aaa</p>
<p class="aaa">aaa</p>

<div class="container header-container">
    <div class="row">
        <div class="col">
            <p class="aaa">aaa</p>
        </div>
    </div>
</div>
{% endblock %}