{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'memberships/css/memberships.css' %}">
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-membership-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Membership</div>
            </h1>
        </div>
    </div>
</div>

<!-- main content -->
<section>
    <div class="row justify-content-center bg-ddgrey pb-5 mb-0">
        <h5 class="col-10 pt-4 pt-md-5 mb-0 px-5">Choose Your Membership Plan</h5>
    </div>
    <div class="row justify-content-center bg-ddgrey pb-5 mt-0">
        <div class="col-11 col-sm-10 col-md-8 col-lg-11 col-xl-10">
            <div class="row justify-content-center">

                <!-- Free class -->
                <div class="col-10 col-sm-6 col-lg-3 text-light">
                    <div class="bg-dred text-center py-4 px-2 m-2 rounded">
                        <hr class="hr-light pt-0 mt-0 mx-2">
                        <p class="membership-name py-0 my-0">
                            Trial Class
                        </p>
                        <p class="membership-smallname">
                            (Kids) &nbsp; 
                        </p>
                        <hr class="hr-light mx-2">
                        <div class="membership-description px-1 text-left">
                            <ul>
                                <li class="membership-description-list">Boxing or</li>
                                <li class="membership-description-list">Kickboxing or</li>
                                <li class="membership-description-list">Brazilian Jiu-Jitsu</li>
                            </ul>
                        </div>
                        <hr class="hr-light mx-2">
                        <p class="membership-price pb-0 mb-0 pt-3">
                            <span class="membership-euro">&euro;&nbsp;</span>99</span>
                        </p>
                        <p class="membership-payinterval py-0 my-0 mb-3">
                            / month &nbsp;
                        </p>
                        <div class="pt-3 pb-4">
                            <a href="#" class="button-start bg-lgrey py-3 px-4 mx-0 rounded text-uppercase text-decoration-none text-dred">Get Started</a>
                        </div>
                    </div>
                </div>

                <!-- Membership plans -->
                {% for membership in memberships %}
                <div class="col-10 col-sm-6 col-lg-3">
                        <div class="membership-prices-box bgrd-color-white">
                            <p class="membership-name color-ashblack">
                                Unlimited
                            </p>
                            <p class="membership-forwho color-grey">
                                &nbsp;
                            </p>
                            <p class="membership-whatclasses membership-whatclasses-list color-ashblack" style="text-align: center;">
                                All Classes
                            </p>
                            <p class="membership-price color-ashblack">
                                <span class="membership-euro">&euro;&nbsp;</span>99<span class="membership-euro">.00</span>
                            </p>
                            <p class="membership-period color-grey">
                                / month
                            </p>
                            <a href="contact.html" class="btn-getstarted-red">Get Started</a>
                        </div>
                    </div>
                {% endfor %}
                
                <div class="col-11 text-light mt-5">
                    <p>You can attend only classes in chosen discipline (all disciplines in case of Unlimited membership) and only at your level or age group.</p>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}