{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 discount">
        <p class="text-light text-center text-uppercase p-0 m-0">10% Discount for Academy Members</p>
    </div>
</div>

<!-- main banner -->
<div class="row header-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Shop</div>
            </h1>
        </div>
    </div>
</div>

<!-- main content -->
<section>
    <div class="row justify-content-center bg-ddgrey pb-5 mb-0">
        <h5 class="col-10 pt-5 pb-2 pb-0 mb-0 px-5">Check out Anaconda MAA Merchandise</h5>
    </div>
    <!-- Products -->
    <div class="row justify-content-center bg-ddgrey pb-4 mt-0">
        <div class="col-11 col-sm-10 col-md-8 col-lg-11 col-xl-10">
            <div class="row justify-content-center">

                <!-- Products -->
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 bg-ddgrey pb-0">

                        <!-- Product image -->
                        {% if product.image %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}

                        <!-- Product category -->
                        {% if product.category %}
                        <p class="mt-1 my-0">
                            <a class="small text-lgrey text-uppercase my-0" href="{% url 'products' %}?category={{ product.category.name }}">
                                {{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}

                        <!-- Product name -->
                        <div class="pb-0">
                            <p class="mb-0 text-light text-left">{{ product.name }}</p>
                        </div>

                        <!-- Product price -->
                        <div class="bg-ddgrey text-light pt-0 border-0 text-left pb-0">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">&euro;{{ product.price }}</p>
                                    {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr class="hr-light mb-3 pb-3">
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row py-5">
                <div class="col-12 justify-content-center">
                    <p class="lead text-light text-center font-weight-bold py-2 px-2"> Join the Anaconda MAA Team</p>
                </div>
                <div class="col-12 justify-content-center"></div>
                    <a href="{% url 'memberships' %}" class="button-join text-center bg-dred py-3 px-5 text-decoration-none text-uppercase rounded mx-auto">Join Our Academy</a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}