{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 discount">
        <p class="text-light text-center text-uppercase p-0 m-0">10% Discount for Academy Members</p>
    </div>
</div>

<!-- main banner -->
<div class="row header-banner justify-content-center">
    <div class="col-12">
        <div>
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Shop</div>
            </h1>
        </div>
    </div>
</div>

<!-- main content -->

<div class="row bg-dgrey px-4 py-3">

    <!-- product image -->
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="image-container my-5">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
    </div>

    <!-- product details -->
    <div class="col-12 col-md-6 col-lg-4">
        <div class="product-details-container mb-5 mt-md-5">

            <!-- product category -->
            {% if product.category %}
            <p class="small mt-1 mb-0">
                <a class="link-categories small text-lgrey text-uppercase my-0"
                    href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                </a>
            </p>
            {% endif %}

            <!-- product name -->
            <p class="mb-0 text-light">{{ product.name }}</p>

            <!-- product price -->
            <p class="lead mb-0 text-left font-weight-bold text-light">${{ product.price }}</p>

            <!-- product rating -->
            {% if product.rating %}
            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
            {% else %}
            <small class="text-muted">No Rating</small>
            {% endif %}

            <!-- product description -->
            <p class="mt-3 text-light font-weight-light">{{ product.description }}</p>




            {% if request.user.is_superuser %}
            {% endif %}
            <!-- add product to the shopping bag form -->


        </div>
    </div>
</div>

{% endblock %}